@charset "UTF-8";

@import url("/set/css/keyframes.css");

body {
	margin: 0px;
	padding: 0px;
	font-family: "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro",
		"メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 16px; //文字サイズ
	line-height: 2; //行間
	color: #666; //文字色
	background: #eee; //背景色
	-webkit-text-size-adjust: none;
}
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
dl,
dt,
dd,
form,
figure,
form,
select,
textarea,
input {
	margin: 0px;
	padding: 0px;
	font-size: 100%;
	font-weight: normal;
}
ul {
	list-style-type: none;
}
img {
	border: none;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
table {
	border-collapse: collapse;
	font-size: 100%;
	border-spacing: 0;
}
video {
	max-width: 100%;
}
iframe {
	width: 100%;
}

a {
	color: #666;
	transition: 0.4s;

	&:hover {
		color: #695e4d;
		text-decoration: none;
	}
}

//サイト読み込み時にwebkitの動きをなくすための設定(style.js必須)
.preload * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}

header {
	position: fixed; //ヘッダーを上部に固定する指定
	z-index: 1;
	left: 0px; //左からの配置場所の指定
	top: 0px; //上からの配置場所の指定
	width: 100%; //幅
	background: #695e4d; //#000; //背景色
	font-size: 13px; //文字サイズ
	height: 50px; //ヘッダーの高さ

	//トップのサークル名の名前の奴
	#logo img {
		height: 30px; //高さ。上のheaderのheightと合わせる。
		margin-left: 20px;
		padding: 10px 10px 10px 10px;
		float: left; //左に回り込み
		background: #695e4d; //背景色
	}

	#logo2 {
		display: none;
		img {
			height: 30px; //高さ。上のheaderのheightと合わせる。
			margin-left: 5px;
			padding: 10px 10px 10px 10px;
			float: left; //左に回り込み
			background: #695e4d; //背景色
		}
	}
}

//メインメニュー
//メニューブロック全体
#menubar {
	float: left;
	height: 1px;

	li {
		float: left;
		letter-spacing: 0.1em;

		//メニュー１個あたりの指定
		a.normal {
			display: block;
			text-decoration: none;
			color: #fff; //文字色
			padding: 0px 20px; //上下、左右へのメニュー内の余白
			line-height: 50px; //行間。headerのheightと数字を合わせる。

			//マウスオン時の背景色
			&:hover {
				background: #595044 !important; //#695e4d
			}
		}
		&.ddmenu-title {
			display: block;
			text-decoration: none;
			color: #fff; //文字色
			padding: 0px 0px; //上下、左右へのメニュー内の余白
			line-height: 50px; //行間。headerのheightと数字を合わせる。

			//ドロップダウンメニューの親メニューへの追加指定。
			padding-left: 40px; //アイコン分の余白を確保
			background: url(/set/images/arrow1.png) no-repeat 10px center / auto 25px; //アイコン画像の読み込み。最後の25pxは高さ指定。

			&:hover {
				background: #595044 url(/set/images/arrow1.png) no-repeat 10px center / auto 25px !important; //#695e4d
			}

			a {
				display: block;
				text-decoration: none;
				color: #fff; //文字色
				padding: 0px 20px; //上下、左右へのメニュー内の余白
				line-height: 50px; //行間。headerのheightと数字を合わせる。
			}

			.ddmenu {
				a {
					display: block;
					text-decoration: none;
					color: #fff; //文字色
					padding: 0px 20px; //上下、左右へのメニュー内の余白
					line-height: 50px; //行間。headerのheightと数字を合わせる。

					//マウスオン時の背景色
					&:hover {
						background: #595044 !important; //#695e4d
					}
				}
			}
		}
	}

	ul {
		&.ddmenu {
			position: absolute;
			visibility: hidden;
			z-index: 10;
			width: 137px;
			margin-left: -40px; //.ddmenu-titleのpadding-leftと数字を合わせてマイナス記号をつける。

			li {
				float: none;

				a {
					background: #000; //背景色（古いブラウザ用）
					background: rgba(0, 0, 0, 0.8); //背景色。0,0,0は黒の事で0.8は色が80%出た状態。
					border: 1px solid rgba(255, 255, 255, 0.4); //線の幅、線種、色。255,255,255は白の事で0.4は色が40%出た状態。
					border-top: none; //上の線だけ消す
				}

				&:first-child a {
					border-top: 1px solid rgba(255, 255, 255, 0.4); //上の線の指定
				}

				&:hover ul.ddmenu {
					animation-name: opa1; //keyframes.cssで使う@keyframesの指定
					animation-duration: 0.4s; //アニメーションの実行時間。0.4秒。
					animation-fill-mode: both; //アニメーションの待機中は最初のキーフレームを維持、終了後は最後のキーフレームを維持。
				}
			}
		}
	}
}
#panel {
	display: none;
	margin-top: 60px;
	margin-bottom: -50px;
	#menubar-s {
		overflow: hidden;
		background: #fff; /*背景色*/
		border: 5px solid #e1e1e1; /*枠線の幅、線種、色*/
		text-align: center;
		margin: 0px 2% 15px;

		li {
			border-bottom: solid 1px #d9d9d9; /*枠線の線種、幅、色*/
			float: left;
			width: 48%;
			margin: 0 1% 0;
		}

		a {
			text-decoration: none;
			display: block;
			padding: 10px;
		}
	}
}

div.image {
	padding-top: 50px;
	text-align: center;
	img.illustration {
		max-width: 1100px;
		width: 100%;
		vertical-align: bottom;
	}
}

#contents {
	clear: both;
	max-width: 1100px; //幅。上の「header #inner」の幅に合わせる
	margin: 0 auto;

	#main {
		float: right; //右側に回り込み
		width: 75%;
		margin: 0px 0px 20px;

		h2 {
			margin: 30px 20px;
			font-size: 100%;
			line-height: 40px;
			font-size: 18px; //文字サイズ
			color: #ffffff; //文字色
			background-color: #796d5d; //背景色
			background-image: url(/set/images/heart.png); //ハートの背景画像
			background-repeat: no-repeat; //背景画像をリピートしない
			background-position: left center; //背景画像を左側、上下中央に配置
			padding-left: 40px; //左に空ける余白
		}

		h3 {
			margin: 0px 30px;
			font-weight: bold;
		}

		p {
			margin: 0px 20px;
			padding: 0px 20px 20px; //上、左右、下への余白
		}

		h2 + p,
		p + p,
		h2 + h3 {
			margin-top: -20px;
		}

		p + h2,
		h2 + div.document,
		div.document + p {
			margin-top: -10px;
		}

		table#research {
			width: 100%;
		}

		ul {
			margin: -20px 50px 0px 50px; //上右下左
			list-style-type: disc;

			li {
				//list-style-type:none;

				p {
					margin: 0px 0px -15px -20px; //上右下左
					//padding: 0px 0px 0px 0px; //上右下左
					&:before {
						content: "◇";
					}
				}
			}

			& + h2 {
				margin-top: 10px;
				margin-bottom: 30px;
			}
		}

		a.anchor {
			//リンク位置調整用
			display: block;
			padding-top: 50px;
			margin-top: -50px;
		}

		//研究資料の掲載用テーブルの枠
p + .document {
	margin: -40px 30px 30px 30px; //上右下左;
}

.document + h2 {
	margin: 0px 30px;
}

.document {
	margin: 10px 30px 30px 30px; //上右下左
	table {
		border-collapse: collapse;
		border: solid 2px black;
		width: 100%;
		margin: 30px 0px;

		thead {
			border: solid 2px black;
		}
		tbody {
			tr {
				//border: dashed 1px black;
				th {
					&.name {
						width: 30%;
						border-right: dashed 1px black;
						background-color: #f0ece7;
					}
					&.department {
						width: 30%;
						border-right: dashed 1px black;
						border-bottom: 1px dashed black;
						background-color: #f0ece7;
					}
					&.pdfname {
						width: 70%;
						//border: dashed 1px black;
					}
					&.pdf {
						width: 70%;
						border-bottom: dashed 1px black;
					}
					&.programname {
						width: 20%;
						border-right: dashed 1px black;
						border-bottom: 1px dashed black;
						background-color: #f0ece7;
					}
					&.subjectname {
						width: 20%;
						border-right: dashed 1px black;
						border-bottom: 1px dashed black;
						background-color: #f0ece7;
					}
				}

				td {
					&.program {
						width: 80%;
						border-bottom: dashed 1px black;

						ul {
							margin: 0px 0px 0px 0px; //上右下左
							list-style-type: disc;
							li{
								margin: 0px 0px 0px 25px; //上右下左
							}
						}
					}
					
					&.book {
						width: 80%;
						border-bottom: dashed 1px black;

						p{
							margin: -30px -20px -20px -10px; //上右下左
						}

						.amazlet-box{
							margin: 10px 10px 0px 10px; //上右下左
						}
					}
				}
			}
		}
	}
}
	}

	#sub {
		float: left; //左側に回り込み
		width: 20%;
		margin: 30px 2%;

		h2.submenu {
			margin: 0px -10px;
			padding: 5px 10px; //上下、左右への余白
			background: #fff; //背景色（古いブラウザだとここの色のみが出ます）
			background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#efefef)); //グラデーション
			background: -webkit-linear-gradient(#fff, #efefef); //同上
			background: linear-gradient(#fff, #efefef); //同上
			border: solid 1px #d9d9d9; //枠線の線種、幅、色
		}

		ul.submenu {
			margin-bottom: 15px; //メニューブロックの下に空けるスペース
			margin: 0px -10px;

			li {
				border-bottom: solid 1px #d9d9d9; //枠線の線種、幅、色
				overflow: hidden;

				a {
					text-decoration: none;
					display: block;
					padding: 5px 10px 5px; //上、左右、左への余白

					&:hover {
						background: #c0a785; //背景色
						color: #000; //文字色
					}
				}
			}
		}

		ul.contact {
			margin-bottom: 15px; //メニューブロックの下に空けるスペース
			margin: 0px 3px;

			li {
				border-bottom: solid 1px #d9d9d9; //枠線の線種、幅、色
				overflow: hidden;
			}
		}
	}
}

#new {
	margin-bottom: 15px;

	dl {
		margin: -10px 30px 0px 30px; //上右下左
		overflow: auto; //高さ指定を超えるとiframe風にスクロールが出る設定。全部表示させたいならこの行と下のheightの行を削除。
		height: 150px; //ボックスの高さ
		padding-left: 15px;
	}

	//日付設定
	dt {
		font-weight: bold; //太字にする設定。標準がいいならこの行削除。
		float: left;
		width: 8em;
	}

	//記事設定
	dd {
		border-bottom: 1px solid #ccc; //下線の幅、線種、色
		padding-left: 8em;
	}
}

.newicon {
	background: #f00;
	color: #fff;
	font-size: 10px;
	padding: 0px 5px;
	border-radius: 2px;
	margin: 0px 5px;
}

footer {
	clear: both;
	text-align: center;
	padding: 10px 0px;
	background: #695e4d; /*背景色*/
	color: #fff; /*文字色*/

	.pr {
		display: block;
		font-size: 80%;
	}

	a {
		text-decoration: none;
		color: #fff;

		&:hover {
			color: #fff;
		}
	}
}



@media screen and (max-width: 1100px) {
	header {
		#menubar,
		#logo {
			display: none;
		}
		#logo2 {
			display: block;
		}
	}

	#contents {
		#main,
		#sub {
			float: none;
			width: auto;
		}

		#main {
			h2 {
				margin: 10px 2%;
			}

			h2 + p,
			h2 + h3 {
				margin-top: -5px;
			}

			p + h2 {
				margin-top: -5px;
			}

			h2 + dl {
				margin-top: 2%;
			}

			h2 + ul {
				margin-top: 10px;
			}

			ul + h2 {
				margin-top: 10px;
				margin-bottom: 0px;
			}
		}

		#sub {
			margin: 0px 2%;
			h2.submenu {
				margin: 0px 0px;
			}

			ul.submenu {
				margin: 0px;
			}
		}
	}

	header {
		//小さい画面の時のメニュー表示用のアイコン
		#right {
			text-align: right;
			margin-right: 10px;
			position: absolute;
			top: -23px;
			right: -3px;
		}
		#panel-btn {
			display: inline-block;
			position: relative;
			width: 45px;
			height: 45px;
			margin: 25px 0 15px;
			border-radius: 50%;
			background: #fff;
		}
		#panel-btn:hover {
			background: #fafafa;
		}
		#panel-btn-icon {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 21px;
			height: 2px;
			margin: -1px 0 0 -10.5px;
			background: #695e4d;
			transition: 0.2s;
		}
		#panel-btn-icon:before,
		#panel-btn-icon:after {
			display: block;
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			width: 21px;
			height: 2px;
			background: #695e4d;
			transition: 0.3s;
		}
		#panel-btn-icon:before {
			margin-top: -9px;
		}
		#panel-btn-icon:after {
			margin-top: 6px;
		}
		#panel-btn .close {
			background: transparent;
		}
		#panel-btn .close:before,
		#panel-btn .close:after {
			margin-top: 0;
		}
		#panel-btn .close:before {
			transform: rotate(-45deg);
			-webkit-transform: rotate(-45deg);
		}
		#panel-btn .close:after {
			transform: rotate(-135deg);
			-webkit-transform: rotate(-135deg);
		}
	}
}
