@charset "UTF-8";
@import url("/set/css/keyframes.css");
body {
  margin: 0px;
  padding: 0px;
  font-family: "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 16px;
  line-height: 2;
  color: #666;
  background: #eee;
  -webkit-text-size-adjust: none;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
dl,
dt,
dd,
form,
figure,
form,
select,
textarea,
input {
  margin: 0px;
  padding: 0px;
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style-type: none;
}

img {
  border: none;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  font-size: 100%;
  border-spacing: 0;
}

video {
  max-width: 100%;
}

iframe {
  width: 100%;
}

a {
  color: #666;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

a:hover {
  color: #695e4d;
  text-decoration: none;
}

.preload * {
  -webkit-transition: none !important;
  transition: none !important;
}

header {
  position: fixed;
  z-index: 1;
  left: 0px;
  top: 0px;
  width: 100%;
  background: #695e4d;
  font-size: 13px;
  height: 50px;
}

header #logo img {
  height: 30px;
  margin-left: 20px;
  padding: 10px 10px 10px 10px;
  float: left;
  background: #695e4d;
}

header #logo2 {
  display: none;
}

header #logo2 img {
  height: 30px;
  margin-left: 5px;
  padding: 10px 10px 10px 10px;
  float: left;
  background: #695e4d;
}

#menubar {
  float: left;
  height: 1px;
}

#menubar li {
  float: left;
  letter-spacing: 0.1em;
}

#menubar li a.normal {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 0px 20px;
  line-height: 50px;
}

#menubar li a.normal:hover {
  background: #595044 !important;
}

#menubar li.ddmenu-title {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 0px 0px;
  line-height: 50px;
  padding-left: 40px;
  background: url(/set/images/arrow1.png) no-repeat 10px center/auto 25px;
}

#menubar li.ddmenu-title:hover {
  background: #595044 url(/set/images/arrow1.png) no-repeat 10px center/auto 25px !important;
}

#menubar li.ddmenu-title a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 0px 20px;
  line-height: 50px;
}

#menubar li.ddmenu-title:first-child a {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

#menubar li.ddmenu-title:hover ul.ddmenu {
  display: block;
}

#menubar li.ddmenu-title ul.ddmenu {
  position: absolute;
  display: none;
  z-index: 10;
  width: 137px;
  margin-left: -40px;
}

#menubar li.ddmenu-title ul.ddmenu li {
  float: none;
}

#menubar li.ddmenu-title ul.ddmenu li a {
  background: #000;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-top: none;
}

#menubar li.ddmenu-title ul.ddmenu a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 0px 20px;
  line-height: 50px;
}

#menubar li.ddmenu-title ul.ddmenu a:hover {
  background: #595044 !important;
}

#panel {
  display: none;
  margin-top: 60px;
  margin-bottom: -50px;
}

#panel #menubar-s {
  overflow: hidden;
  background: #fff;
  /*背景色*/
  border: 5px solid #e1e1e1;
  /*枠線の幅、線種、色*/
  text-align: center;
  margin: 0px 2% 15px;
}

#panel #menubar-s li {
  border-bottom: solid 1px #d9d9d9;
  /*枠線の線種、幅、色*/
  float: left;
  width: 48%;
  margin: 0 1% 0;
}

#panel #menubar-s a {
  text-decoration: none;
  display: block;
  padding: 10px;
}

div.image {
  padding-top: 50px;
  text-align: center;
}

div.image img.illustration {
  max-width: 1100px;
  width: 100%;
  vertical-align: bottom;
}

#contents {
  clear: both;
  max-width: 1100px;
  margin: 0 auto;
}

#contents #main {
  float: right;
  width: 75%;
  margin: 0px 0px 20px;
}

#contents #main h2 {
  margin: 30px 20px;
  font-size: 100%;
  line-height: 40px;
  font-size: 18px;
  color: #ffffff;
  background-color: #796d5d;
  background-image: url(/set/images/heart.png);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 40px;
}

#contents #main h3 {
  margin: 0px 30px;
  font-weight: bold;
}

#contents #main p {
  margin: 0px 20px;
  padding: 0px 20px 20px;
}

#contents #main p img {
  padding: 0px 0px 20px;
}

#contents #main h2 + p,
#contents #main p + p,
#contents #main h2 + h3 {
  margin-top: -20px;
}

#contents #main p + h2,
#contents #main h2 + div.document,
#contents #main div.document + p {
  margin-top: -10px;
}

#contents #main table#research {
  width: 100%;
}

#contents #main ul {
  margin: -20px 50px 0px 50px;
  list-style-type: disc;
}

#contents #main ul li p {
  margin: 0px 0px -15px -20px;
}

#contents #main ul li p:before {
  content: "◇";
}

#contents #main ul + h2 {
  margin-top: 10px;
  margin-bottom: 30px;
}

#contents #main a.anchor {
  display: block;
  padding-top: 50px;
  margin-top: -50px;
}

#contents #main p + .document {
  margin: -40px 30px 30px 30px;
}

#contents #main .document + h2 {
  margin: 0px 30px;
}

#contents #main .document {
  margin: 10px 30px 30px 30px;
}

#contents #main .document table {
  border-collapse: collapse;
  border: solid 2px black;
  width: 100%;
  margin: 30px 0px;
}

#contents #main .document table thead {
  border: solid 2px black;
}

#contents #main .document table tbody tr th.name {
  width: 30%;
  border-right: dashed 1px black;
  background-color: #f0ece7;
}

#contents #main .document table tbody tr th.department {
  width: 30%;
  border-right: dashed 1px black;
  border-bottom: 1px dashed black;
  background-color: #f0ece7;
}

#contents #main .document table tbody tr th.pdfname {
  width: 70%;
}

#contents #main .document table tbody tr th.pdf {
  width: 70%;
  border-bottom: dashed 1px black;
}

#contents #main .document table tbody tr th.programname {
  width: 20%;
  border-right: dashed 1px black;
  border-bottom: 1px dashed black;
  background-color: #f0ece7;
}

#contents #main .document table tbody tr th.subjectname {
  width: 20%;
  border-right: dashed 1px black;
  border-bottom: 1px dashed black;
  background-color: #f0ece7;
}

#contents #main .document table tbody tr td.program {
  width: 80%;
  border-bottom: dashed 1px black;
}

#contents #main .document table tbody tr td.program ul {
  margin: 0px 0px 0px 0px;
  list-style-type: disc;
}

#contents #main .document table tbody tr td.program ul li {
  margin: 0px 0px 0px 25px;
}

#contents #main .document table tbody tr td.book {
  width: 80%;
  border-bottom: dashed 1px black;
}

#contents #main .document table tbody tr td.book p {
  margin: -30px -20px -20px -10px;
}

#contents #main .document table tbody tr td.book .amazlet-box {
  margin: 10px 10px 0px 10px;
}

#contents #sub {
  float: left;
  width: 20%;
  margin: 30px 2%;
}

#contents #sub h2.submenu {
  margin: 0px -10px;
  padding: 5px 10px;
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#efefef));
  background: linear-gradient(#fff, #efefef);
  border: solid 1px #d9d9d9;
}

#contents #sub ul.submenu {
  margin-bottom: 15px;
  margin: 0px -10px;
}

#contents #sub ul.submenu li {
  border-bottom: solid 1px #d9d9d9;
  overflow: hidden;
}

#contents #sub ul.submenu li a {
  text-decoration: none;
  display: block;
  padding: 5px 10px 5px;
}

#contents #sub ul.submenu li a:hover {
  background: #c0a785;
  color: #000;
}

#contents #sub ul.contact {
  margin-bottom: 15px;
  margin: 0px 3px;
}

#contents #sub ul.contact li {
  border-bottom: solid 1px #d9d9d9;
  overflow: hidden;
}

#new {
  margin-bottom: 15px;
}

#new dl {
  margin: -10px 30px 0px 30px;
  overflow: auto;
  height: 150px;
  padding-left: 15px;
}

#new dt {
  font-weight: bold;
  float: left;
  width: 8em;
}

#new dd {
  border-bottom: 1px solid #ccc;
  padding-left: 8em;
}

.newicon {
  background: #f00;
  color: #fff;
  font-size: 10px;
  padding: 0px 5px;
  border-radius: 2px;
  margin: 0px 5px;
}

footer {
  clear: both;
  text-align: center;
  padding: 10px 0px;
  background: #695e4d;
  /*背景色*/
  color: #fff;
  /*文字色*/
}

footer .pr {
  display: block;
  font-size: 80%;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer a:hover {
  color: #fff;
}

@media screen and (max-width: 1100px) {
  header {
    position: static;
  }
  header #menubar,
  header #logo {
    display: none;
  }
  header #logo2 {
    display: block;
  }
  #panel {
    margin-top: 10px;
    margin-bottom: -5px;
  }
  div.image {
    padding-top: 0px;
  }
  #contents #main,
  #contents #sub {
    float: none;
    width: auto;
  }
  #contents #main p + .document,
  #contents #main .document {
    margin: -40px 4% 3% 4%;
  }
  #contents #main h2 {
    margin: 10px 2%;
  }
  #contents #main p {
    margin: 0px 1%;
  }
  #contents #main h2 + p,
  #contents #main h2 + h3 {
    margin-top: -5px;
  }
  #contents #main p + h2 {
    margin-top: -5px;
  }
  #contents #main h2 + dl {
    margin-top: 2%;
  }
  #contents #main h2 + ul {
    margin-top: 10px;
  }
  #contents #main ul + h2 {
    margin-top: 10px;
    margin-bottom: 0px;
  }
  #contents #sub {
    margin: 0px 2%;
  }
  #contents #sub h2.submenu {
    margin: 0px 0px;
  }
  #contents #sub ul.submenu {
    margin: 0px;
  }
  header #right {
    text-align: right;
    margin-right: 10px;
    position: absolute;
    top: -23px;
    right: -3px;
  }
  header #panel-btn {
    display: inline-block;
    position: relative;
    width: 45px;
    height: 45px;
    margin: 25px 0 15px;
    border-radius: 50%;
    background: #fff;
  }
  header #panel-btn:hover {
    background: #fafafa;
  }
  header #panel-btn-icon {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 21px;
    height: 2px;
    margin: -1px 0 0 -10.5px;
    background: #695e4d;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  header #panel-btn-icon:before,
  header #panel-btn-icon:after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 21px;
    height: 2px;
    background: #695e4d;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  header #panel-btn-icon:before {
    margin-top: -9px;
  }
  header #panel-btn-icon:after {
    margin-top: 6px;
  }
  header #panel-btn .close {
    background: transparent;
  }
  header #panel-btn .close:before,
  header #panel-btn .close:after {
    margin-top: 0;
  }
  header #panel-btn .close:before {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  header #panel-btn .close:after {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
}
/*# sourceMappingURL=style.css.map */